doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    div#logout
        img#myAvater(src=data.pic_url, alt="picture" ) 
        a(href="http://localhost:8000/logout")  ログアウト
        hr
  body
    block content
      h4#loginNumber 目標に向かって頑張りましょう
      span#currentLoginUsers.avater
      script(src="/javascripts/bundle.js")
