body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black; 
}

a {
  color: #00B7FF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: large;
}

.avater {
  width: 25pt;
  height: 25pt;
  margin: 5pt;
}

#myAvater {
  width: 30pt;
  height: 30pt;
}

#logout {
  text-align: left;
}

#loginNumber {
  color: whitesmoke;
  font-size: large;
}