body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.avater {
  width: 30pt;
  height: 30pt;
  margin: 10pt;
}

#myAvater {
  width: 30pt;
  height: 30pt;
}

#logout {
  text-align: left;
}
